Source: ros-indigo-concert-qt-image-stream
Section: misc
Priority: extra
Maintainer: Donguk Lee <dwlee@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/concert_qt_image_stream
Standards-Version: 3.9.2

Package: ros-indigo-concert-qt-image-stream
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-indigo-qt-gui-py-common, ros-indigo-rocon-console, ros-indigo-rocon-qt-library, ros-indigo-rospy, ros-indigo-rqt-gui, ros-indigo-rqt-gui-py, ros-indigo-sensor-msgs
Description: An rqt plugin for image_stream'ing concert robots
